{:paths ["src"]
 :deps
 {seesaw/seesaw {:mvn/version "1.5.0"}}
 :aliases
 {:test
  {:extra-paths ["test"]}
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.10" :git/sha "deedd62"}}
   :ns-default build}
  }
 }